/*Formato General*/
*{
    padding: 0;
    margin-top: 5px;
}

body{
    background-color: darkslategray;
}

header{
    width: 45%;
    margin: 0px auto; 
}

footer{
    width: 100px;
    margin: 20px auto;
    max-width:1000px; 
    /*margin-top: 20px auto;*/
}

footer a{
    padding: 5px 20px;
    background: rgb(36, 85, 100);;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-style: groove;
    border-radius: 20px;
    text-align: center;
}

footer a:hover{
    display: block;
    background: teal;
}

.encabezadoPag ul{
    overflow: hidden; 
}

.nombrePag{
    color:antiquewhite;
    font-size: 50px; 
    height: 98px;
    display: flex;
    align-items: center;
    padding-left: 35px;
}

.encabezadoPag ul li{
    list-style: none;
    float:left;
}
/*Fin Formato general*/

/*Pagina de Inicio*/
.menuInicio{
    width: 30%;
    margin: 20px auto;
    max-width:1000px; 
    /*margin-top: 20px auto;*/
    text-align: center;
}

.menuInicio ul li {
    list-style: none;
    list-style-position: initial;
    padding: 15px;
}

.menuInicio ul li a:hover{
    display: block;
    background: rgb(83, 68, 48);
    color: antiquewhite;
}

.menuInicio ul li a{
    padding: 15px 20px;
    background: rgb(151, 132, 107);
    border-color: antiquewhite;
    display: block;
    color: rgb(63, 39, 39);
    text-decoration: none;
    font-size: 25px;
    border-style:solid;
    border-radius: 15px;
}
/*Fin Pagina de Inicio*/

/*Pagina de Iluminacion*/

.salasIlum{
    width: 70%;
    margin:2% auto;
    border: 1px solid wheat;
    border-collapse:collapse;
}

.salasIlum td{
    margin: 2px;
    padding: 10px;
    border-style: double;
    border-color: darkslategray;
}

.salasIlum .salasNomb td{
    text-align: center;
    padding: 15px 20px;
    color: tan;
    font-size: 25px;
}

.salasIlum .apagadorIlum td{
    font-size: 20px;
    text-align: center;
}

.salasIlum .col1{
    width: 33%;
    text-align: center;
}

.salasIlum .col2{
    width: 34%;
    text-align: center;
}

.salasIlum .col3{
    width: 33%;
    text-align: center;
}
/**/

/*      Apagadores*/
.switch{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
    background-color: dimgray;
    border-radius: 40px;
    cursor: pointer;
}

.switch::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: aliceblue;
    left: 5px;
    top: 5px;
    transition: all 0.4s;
}

input[type='checkbox']:checked + .switch::after{
    transform: translate(40px);
}

input[type='checkbox']:checked + .switch{
    background-color: #03a9f4;
}

.offscreen{
    position: absolute;
    left: -9999999px;
}


/*         control de luz*/
.salasIlum .controlIlum td{
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}

.slider-wrapper {
    display: inline-block;
    width: 20px;
    height: 150px;
    padding: 0;
}

.slider-wrapper input {
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
}

        /*Programacion de Apagado*/
.programaLuz{
    width: 25%;
    margin: 20px auto;
    max-width:1000px; 
    /*margin-top: 20px auto;*/
    text-align: center;
    background-color: rgb(138, 111, 75);
    border-style:solid;
    border-radius: 20px;
    color: rgb(49, 49, 49);
}

.programaLuz ul li {
    list-style: none;
    list-style-position: initial;
    padding: 15px;
}

.programaLuz li{
    padding: 5px 20px;
    display: block;
    
    text-decoration: none;
    font-size: 25px;
    text-align: center;
}

.fechaOff, .horaOff{
    border-radius: 5px;
    width: 145px;
    height: 50px;
    font-size: 18px;
    background: rgb(107, 94, 76);
    border-color: white;
    color: antiquewhite;
    border-style: solid;
}

.btnProg{
    border-radius: 5px;
    width: 130px;
    height: 40px;
    font-size: 18px;
    background: rgb(151, 132, 107);
    border-color: antiquewhite;
    color: rgb(63, 39, 39);
    padding: 10px;
    border-style: solid;
}

.btnProg:hover{
    background: rgb(83, 68, 48);
    color: antiquewhite;
}